body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #dfdfdf;
}

h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #333;
    background-color: aqua;
    border: #000 1px solid;
    border-radius: 5px;
}

#contactList {
    width: 100%;
    border: #000 1px solid;
}

#contactList tr {
    
    padding: 10px;
    background-color: rgb(231, 224, 210);
    border: 1px solid #000000;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

#contactList tr:hover {
    background-color: rgb(253, 253, 152);
}

#contactList tr.highlighted {
    background-color: yellow;
}

#contactList th {
    background-color: rgb(179, 255, 0);
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#contactList td {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
}

#button_block {
    margin: 10px;
    text-align: right;
}

#installBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(174, 243, 211);
    transition-duration: 0.4s;
    font-weight: bold;
}

#installBtn:hover {
    background-color: rgb(117, 240, 172);
}

#reinstallBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(174, 243, 211);
    transition-duration: 0.4s;
    font-weight: bold;
}

#reinstallBtn:hover {
    background-color: rgb(117, 240, 172);
}

#submit {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(174, 243, 211);
    transition-duration: 0.4s;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(117, 240, 172);
}